html, body {
  width: 100%;
  height: 100%;
}

#hero-index {
  background: center / cover no-repeat url("../images/index.jpg");
  background-attachment: fixed;
}

#hero-port {
  background: center / cover no-repeat url("../images/portfolio.jpg");
  background-attachment: fixed;
}

#hero-contact {
  background: center / cover no-repeat url("../images/contact.jpg");
  background-attachment: fixed;
}
  
.is-sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.is-bio {
  float: left;
  width: 300px;
  margin-right: 20px;
}

p {
  margin-bottom: 15px;
}

.img-wrapper {  
  width: 100%;
  height: 100%;
  overflow: hidden; 
}

.img-wrapper {
  display: inline-block;
  box-sizing: border-box;
}

.inner-img {
  transition: 0.3s;
}

.inner-img:hover {
  transform: scale(1.1);
}